# ==================================
# Firebase y Node.js
# ==================================
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache y config
.firebase/

# Archivos de entorno y claves secretas
.env
functions/.env
firebase-service-account.json

# Dependencias de Node.js
node_modules/

# Archivos de runtime y cache
pids
*.pid
*.seed
*.pid.lock
.npm
.eslintcache
*.tgz

# ==================================
# Flutter
# ==================================
# Archivos y carpetas generados por Flutter
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/

# Archivos específicos de iOS (CocoaPods)
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/engine
ios/Flutter/flutter_assets
.ios/

# Archivos específicos de Android
.android/
android/app/src/main/assets/flutter_assets/
android/app/build/
android/build/
android/.gradle/
android/gradle/
android/local.properties
android/key.properties

# ==================================
# Editores de Código y SO
# ==================================
# VS Code
.vscode/

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws
*.hprof
out/

# macOS / Windows
.DS_Store
Thumbs.db

# Miscellaneous
*.class
*.jar
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/
captures/